*.pyc
*~
__pycache__
/venv
db.sqlite3
/static
/el_politicians/employee/migrations/
/venv/
/.idea/
/el_politicians/manage.py
/el_politicians/result.txt
/el_politicians/media/
/el_politicians/employee/__pycache__/
