{% extends 'base.html' %}
{% block content %}
<div class="dropdown dropdown-menu-right">
    <button class="dropbtn">Actions</button>
    <div class="dropdown-content">
        <a href="{% url 'api:display_json' %}">Display Json</a>
        <a href="{% url 'api:salaryCalc' %}">Calculations</a>
        <a href="{% url 'employee:employee_create' %}">New politician</a>
        <a href="{% url 'employee:department_create' %}">New department</a>
        <a href="{% url 'employee:job_create' %}">New job</a>
    </div>
</div>
<br>
<br>
<nav>
    <ul>
        {% if user.is_authenticated %}
        <li>
            <form class="logout-link" action="{% url 'accounts:logout'%}" method="POST">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </li>
        {# <li><a href="{% url 'employee:create'%}" class="highlight">New politician</a></li> #}
        {% else %}
        <li><a href="{% url 'accounts:login'%}">Login</a></li>
        <li><a href="{% url 'accounts:signup'%}">Signup</a></li>
        {% endif %}
    </ul>
</nav>
<div class="employees">
    {% for employee in employees%}
        <img src="{{employee.photo.url}}" border="2"  width="120" height="120">
    <div class=content>
        <b>{{employee.first_name}} {{employee.last_name}}</b><br>
        place of work: {{employee.department}}<br>
        manager: {{employee.manager}}<br>
        position: {{employee.job}}<br>
        hire_date: {{employee.hire_date}}
    </div>
    {% endfor %}
</div>
{% endblock %}